{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Doctors</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/animate-3.7.0.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Few Tips for your helthy life</h1>
                    <a href="index.html">Home</a> <span>|</span> <a href="doctors.html">Doctors</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Specialist Area Starts -->
    <section class="specialist-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Health Tips</h2>
                        <p>“You can’t control everything in your life but, you can control what you put in your body.”</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{% static 'images/Healthpic1.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>1. Eat a healthy diet</h3>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Eat a combination of different foods, including fruit, vegetables, legumes, nuts and whole grains. Adults should eat at least five portions (400g) of fruit and vegetables per day. You can improve your intake of fruits and vegetables by always including veggies in your meal; eating fresh fruit and vegetables as snacks; eating a variety of fruits and vegetables; and eating them in season. By eating healthy, you will reduce your risk of malnutrition and noncommunicable diseases (NCDs) such as diabetes, heart disease, stroke and cancer.</p>
<!--                                <ul class="doctor-icon">-->
<!--                                    <li><a href="#"><i class="fa fa-facebook"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-twitter"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-linkedin"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-pinterest"></i><a></li>-->
<!--                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{% static 'images/smoking.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>2. Don’t smoke</h3>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Smoking tobacco causes NCDs such as lung disease, heart disease and stroke. Tobacco kills not only the direct smokers but even non-smokers through second-hand exposure. Currently, there are around 15.9 million Filipino adults who smoke tobacco but 7 in 10 smokers are interested or plan to quit.

If you are currently a smoker, it’s not too late to quit. Once you do, you will experience immediate and long-term health benefits. If you are not a smoker, that’s great! Do not start smoking and fight for your right to breathe tobacco-smoke-free air.</p>
<!--                                <ul class="doctor-icon">-->
<!--                                    <li><a href="#"><i class="fa fa-facebook"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-twitter"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-linkedin"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-pinterest"></i><a></li>-->
<!--                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-sm-0">
                        <div class="doctor-img">
                            <img src="{% static 'images/vaccine.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>3. Get vaccinated</h3>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Vaccination is one of the most effective ways to prevent diseases. Vaccines work with your body’s natural defences to build protection against diseases like cervical cancer, cholera, diphtheria, hepatitis B, influenza, measles, mumps, pneumonia, polio, rabies, rubella, tetanus, typhoid, and yellow fever.

In the Philippines, free vaccines are provided to children 1 year old and below as part of the Department of Health’s routine immunization programme. If you are an adolescent or adult, you may ask your physician if to check your immunization status or if you want to have yourself vaccinated.</p>
<!--                                <ul class="doctor-icon">-->
<!--                                    <li><a href="#"><i class="fa fa-facebook"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-twitter"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-linkedin"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-pinterest"></i><a></li>-->
<!--                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor">
                        <div class="doctor-img">
                            <img src="{% static 'images/checkup.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>4. Have regular check-ups</h3>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Regular check-ups can help find health problems before they start. Health professionals can help find and diagnose health issues early, when your chances for treatment and cure are better. Go to your nearest health facility to check out the the health services, screenings and treatment that are accessible to you.</p>
<!--                                <ul class="doctor-icon">-->
<!--                                    <li><a href="#"><i class="fa fa-facebook"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-twitter"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-linkedin"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-pinterest"></i><a></li>-->
<!--                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Specialist Area Starts -->


                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="social-icons">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->



</body>
</html>
