{% extends 'admin.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>

<form>
    <table border="2">
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Gender</th>
              <th>Contact</th>
              <th>Age</th>
        </tr>

        {% for i in key %}
        <tr>
        <td>{{i.id}}</td>
        <td>{{i.Name}}</td>
        <td>{{i.Address}}</td>
        <td>{{i.Gender}}</td>
             <td>{{i.Phone}}</td>
             <td>{{i.Age}}</td>
        <td><a href="{% url 'approved_patients' id=i.id %}" style="color:blue">Approve</a> </td>

        </tr>
        {% endfor %}



    </table>
</form>

</body>
</html>
{% endblock %}